<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p>
    <%= time_ago_in_words post.created_at %> ago
  </p>
  <p>
  
  </P>
    <%= post.title %>
    <%= post.text %>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
